@{
	ViewBag.Title = "SinglePlayer";
	Layout = "~/Views/Game/_SinglePlayerLayout.cshtml";
}

<h2>Single Player</h2>

		<div id="gameCanvas">
			<canvas class="game"></canvas>
			<canvas class="game"></canvas>
		</div>
