@{
	ViewBag.Title = "SinglePlayer";
	Layout = "~/Views/Game/_SinglePlayerLayout.cshtml";
}

<h2>Single Player</h2>

        <div id="score" style="font-family:Arial,Helvetica,sans-serif;
       font-size:2em;
       vertical-align:middle;
       font-weight:normal"></div>
		<div id="gameCanvas" style="position:relative;top:10px;left:10px;">
    		<canvas class="game"></canvas>
    		<canvas class="game"></canvas>
		</div>
<!--
		<div class="meter" id="outer" style="width: 500px">
			<span id="bar" style="width: 0%"></span>
			<p id="percent"></p>
		</div>
        <div id="buttonContainer">
        	<table style="padding: 10px; position: absolute; width: 400px; top: 350px; left: 1000px; border: 2px solid;">
                <tr>
        			<td style="width: 200px;"><img id="item1" class="item_gray" src="~/Images/hole.jpg" onclick="hole()"></td>
        			<td style="width: 200px;"><p>hole</p><p>Energy Need: 80</p></td>
        		</tr>
        		<tr>
        			<td><img id="item2" class="item_gray" src="~/Images/curve.jpg" onclick="curve()"></td>
        			<td><p>curve</p><p>Energy Need: 150</p></td>
        		</tr>
        		
                <tr>
        			<td><img id="item3" class="item_gray" src="~/Images/shake.jpg" onclick="shake()"></td>
        			<td><p>shake</p><p>Energy Need: 150</p></td>
        		</tr>
                <tr>
        			<td><img id="item4" class="item_gray" src="~/Images/big.jpg" onclick="bigger(2)"></td>
        			<td><p>Larger</p><p>Energy Need: 300</p></td>
        		</tr>
        		<tr>
        			<td><img id="item5" class="item_gray" src="~/Images/split.jpg" onclick="split()"></td>
        			<td><p>Split</p><p>Energy Need: 350</p></td>
        		</tr>
        		<tr>	
        			<td><img id="item6" class="item_gray" src="~/Images/accelerate.jpg" onclick="accelerate(2)"></td>
        			<td><p>Accelerate</p><p>Energy Need: 350</p></td>
        		</tr>
        	</table>
        </div>
    -->
