@{
    ViewBag.Title = "_GameSample";
}
<h3 id="score" style="position:absolute;margin-left:460px;margin-top:0px;"></h3>
<div id="gameCanvas" style="position:absolute;margin-left:0px;margin-top:0px;">
    		<canvas class="game"></canvas>
    		<canvas class="game"></canvas>
</div>
<h1 id="win" style="position:absolute;margin-left:0px;margin-top:0px;visibility:hidden;color:ivory;">You Win!</h1>