@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "错误";
}

<hgroup class="title">
    <h1 class="error">error</h1>
    <h2 class="error">error found in prosessing your request.</h2>
</hgroup>
